<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">OEC Computers SG</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Master Data</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> User</a></li>
                    <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Customer</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Sales</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Sales Quotation</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Sales Order</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Delivery</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Purchasing</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Purchase Request</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Purchase Order</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Purchase Quotation</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Good Receipt PO</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Inventory</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Inventory Transfer Request</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Inventory Transfer</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Goods Receipt</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Goods Issue</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>POS</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>