@section SampleHeading{ <span class="sampleName">Accordion / Default Functionalities</span>}
@model VanChi.FMS.Web.Controllers.TextBoxModal
@section ControlsSection{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-lg-12 control-section">
            <div id="wrapper">
                @Html.EJS().TextBoxFor(model => model.firstname).Placeholder("First Name").Render()
                <div>
                    @Html.ValidationMessageFor(model => model.firstname)
                </div>
                <div id="submitbutton">
                    @Html.EJS().Button("btn").Content("Post").Render()
                </div>
            </div>
        </div>

    }

    @*custom code start*@
    <style>
        #wrapper {
            max-width: 246px;
            margin: 30px auto;
            padding-top: 50px;
        }

        #submitbutton {
            margin-top: 20px;
            margin-left: 65px;
        }

        #control-content #wrapper .field-validation-error {
            color: red;
        }
    </style>
    @*custom code end*@
}

@section StyleSection{
    <style>
        #basicAccordion img {
            float: left;
            height: 40px;
            padding-right: 6px;
        }

        .emp-list {
            border-bottom: 1px solid #BBBCBB;
            margin-bottom: 9px;
            padding-bottom: 9px;
        }

            .emp-list:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

        .time-panel {
            float: right;
            color: #2382C3;
        }

        .headername {
            font-size: 16px;
            font-weight: 600;
        }
    </style>
}


@section ScriptSection{
    <script>
        alert("Hello!!");
    </script>
} 