@using Syncfusion.EJ2.Navigations
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section">
        <div class="control_wrapper">
            @Html.EJS().TreeView("tree").Fields(ViewBag.fields).Render()

        </div>
    </div>
    <style>
        .control_wrapper {
            max-width: 500px;
            margin: auto;
            border: 1px solid #dddddd;
            border-radius: 3px;
        }

        @@media screen and (max-width: 768px) {
            .treeview-control-section {
                margin: 0;
            }
        }
    </style>
    }